<ion-view title=" Add Courses">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content padding="true">
  <p> Click on a course to select them </p>
  <input type="text" placeholder="Enter any keywords" ng-model="keyword">
  <button on-tap="search(keyword)">Search</button>
    <div class="list">
      <a ng-repeat="course in candidates" class="item" on-tap="addCourse(course.sectionid)">
        <h2>{{ course.name }}  {{course.lecture_time}} {{course.lecture_room}} {{course.sectionid}}</h2>
<!--         <button class="button button-removeclass">Remove</button>
 -->      </a>
    </div>
  </ion-content>
</ion-view>