<ion-view title="Courses">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <!-- <ion-content padding="true"> -->
  <ion-tabs padding="true"class="tabs-positive tabs-striped tabs-icon-top">
   <ion-tab title="My Courses" icon="icon ion-star">
   <ion-view padding = "true">
    <p> Click on a course to remove </p>
    <div class="list">
      <a ng-repeat="course in courses" class="item" on-tap="remove(course.sectionid)">
        <h2>{{ course.name }}  {{course.lecture_time}} {{course.lecture_room}} {{course.sectionid}} </h2>
      </a>
    </div>
  </ion-view >
  </ion-tab>
  <ion-tab title="Add Courses" icon="icon ion-plus-round">
  <ion-view> 
  <p> Click on a course to add to my courses </p>
  <input type="text" placeholder="Enter any keywords" ng-model="keyword">
  <button on-tap="search(keyword)">Search</button>
    <div class="list">
      <a ng-repeat="course in candidates" class="item" on-tap="addCourse(course.sectionid)">
        <h2>{{ course.name }}  {{course.lecture_time}} {{course.lecture_room}} {{course.sectionid}}</h2>
<!--         <button class="button button-removeclass">Remove</button>
 -->      </a>
    </div>
  </ion-view>
  </ion-tab>
</ion-tabs>
  <!-- </ion-content> -->
</ion-view>