<ion-view title="Home">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
</ion-nav-buttons>
  <ion-content padding="true">
    <div class="tablediv-container">
      <div class="tablediv-row">

        <div id="tablediv-time">
        </div>
        <div id="tablediv-mon" mon>
        </div>
        <div id="tablediv-tue" tue>
        </div>
        <div id="tablediv-wed" wed>
        </div>
        <div id="tablediv-thu" thu>
        </div>
        <div id="tablediv-fri" fri>
        </div>
        <div id="tablediv-sat" sat>
        </div>
        <div id="tablediv-sun" sun>
        </div>

      </div>
    </div>
    <table>
      <tr>
        <td></td>
        <td>Mon</td>
        <td>Tue</td>
        <td>Wed</td>
        <td>Thu</td>
        <td>Fri</td>
        <td>Sat</td>
        <td>Sun</td>
      </tr>
      <tr ng-repeat= "hours in day">
        <td>{{hours.hour+":"+hours.minute}}</td>
        <td ng-repeat="days in week"></td>
      </tr>
    </table>
 <p>{{courses}}</p>
   
  </ion-content>
</ion-view>



