<div class="modal" ng-controller="LoginCtrl">
    
    <ion-tabs padding="true" class="tabs-positive tabs-striped tabs-icon-top">
     <ion-tab title="Login" icon="icon ion-person">
    <ion-content class="has-header" padding="true">
      <form class="list" class="has-header" padding="true" ng-submit="login()">
        <div class="item item-divider" class="has-header" padding="true" >
          Login
        </div>
        <div>{{message}}</div>
        <label class="item item-input">
          <input type="text" placeholder="Username" ng-model="user.username" required>
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Password" ng-model="user.password" required>
        </label>
        <div class="padding">
          <button class="button button-block button-stable" ng-click="login()">Login</button>
        </div>
      </form>
    </ion-content>
  </ion-tab>
       <ion-tab title="Signup" icon="icon ion-person-add">
    <ion-content has-header="true" padding="true">
      <form class="list" ng-submit="signup()">
        <div class="item item-divider">
          Signup
        </div>
        <div>{{message}}</div>
        <label class="item item-input">
          <input type="text" placeholder="Username" ng-model="user.username" required>
        </label>
         <label class="item item-input">
          <input type="text" placeholder="Email" ng-model="user.email" required>
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Password" ng-model="user.password" required>
        </label>
         <label class="item item-input">
          <input type="password" placeholder="Confirm Password" ng-model="user.confirm" required>
        </label>
        <div class="padding">
          <button class="button button-block button-stable" ng-click="signup()">SignUp</button>
        </div>
      </form>
    </ion-content>
  </ion-tab> 
</ion-tabs>
</div>