/* Empty. Add your own CSS if you like */
table, th , td {
  border-collapse: collapse;
  padding: 5px;
}
table {
   width:100%;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}     
table tr:nth-child(even) {
  background-color: #ffffff;
}

td{
   width:12%;
   min-height:7%;
   padding:1%;
}

.tablediv-container {
	display: table;
	position: absolute;
	width:100%;
	min-height:563px;
}

.tablediv-row  {
	display: table-row;
}

#tablediv-time, #tablediv-mon, #tablediv-tue,
#tablediv-wed, #tablediv-thu,#tablediv-fri,
#tablediv-sat, #tablediv-sun {
	width:12%;
	display: table-cell;
}


