/* Empty. Add your own CSS if you like */
table, th , td {
  border-collapse: collapse;
}
table {
   width:100%;
   table-layout: fixed
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}     
table tr:nth-child(even) {
  background-color: #ffffff;
}

td,table-cell {
   min-height:7%;
   padding-bottom:15px;
   padding-top: 15px;
   text-align: center;
}
h6{
  font-size: 14px;
}
p {
  padding-top:5%;
}
ion-nav-view {
  padding-left: 1%;
}
ion-tabs {
  padding-top: 5%;
}
ion-nav-buttons {
  padding-bottom: 5%;
}

.tablediv-container {
	display: table;
	position: absolute;
	width:100%;
	min-height:563px;
  table-layout: fixed
}

.tablediv-row  {
	display: table-row;
}

#tablediv-time, #tablediv-mon, #tablediv-tue,
#tablediv-wed, #tablediv-thu,#tablediv-fri,
#tablediv-sat, #tablediv-sun {
	width:10%;
	display: table-cell;
  padding-left:0.7%;
}

.backtable-tr > td{
  font-size:12px !important;
}

.lecture-node{
  width: 11%;
}

.discussion-node{
  width: 11%;
}

.course-num-text{
  color:#ECF0F1;
  font-size:10px;
}

.building-room-text, .instructor-text{
  color:#ECF0F1;
  font-size:8px;
}


